@import "../../Utils/Sass/Variables";


.container-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    background-color: $bg-grid-card;
    border-radius: 25px;
    padding: 50px 50px 40px 50px;
}

