@import "../../Utils/Sass/Variables";
@import "../../Utils/Sass/Mixins";

.footer-p {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 500;
}

.logo {
  margin-top: 60px;
  margin-bottom: 30px;
  width: 122px;
  height: 40px;
}
